html
    head
        title= "Mail Content"
    body(style="color: whitesmoke; background-color: black; display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;")
        div(style="width: 100%; height: 20px; background-color: yellow;")
        h1= message
        div(style="width: 100%; height: 20px; background-color: yellow;")