BODY {
    background-color: black;
    color: whitesmoke;
    font-size: large;
    font-family: serif, 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}

INPUT {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 12px;
    font-family: monospace, Courier, monospace;
    font-size: 18px;
    width: 80%;
	margin: 20px auto;
	padding: 10px;
    border: solid lightgray 2px;
    background: #efefef;
    box-shadow: 0 0 40px #ffffff3a;
	outline: none;
	border-radius: 5px;
}

BUTTON {
    margin: 2px auto;
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 40px #8888873a;
}

FORM {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 2px auto;
    border: 5px solid black;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    color: black;
    background-color: yellow;
    border: 5px solid whitesmoke;
    border-radius: 20px;
}

.container-row {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 50px;
    background-color: whitesmoke;
    padding: 30px;
    border: 5px solid black;
    border-radius: 10px;
}

.animation {
    transition: 1s;
    margin: 20px;
}
.animation:hover {
    transform: rotate(360deg);
}

.block {
    background-color: yellow;
    width: 100%;
}